
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}



/* Header/Logo Title */
.header {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Page Content */
.content {padding:20px;}

.mb-10{margin-bottom: 10px;}
.pl-12{padding-left: 12px;}
input[type=text] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px;
  display: inline-block;
}

/*Button Styles*/

button[type=button] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}